/* src/main/resources/waveon/waveon/styles/profilePage.css */
.root {
    -fx-font-family: 'Arial';
    -fx-background-color: #000000; /* Spotify dark background */
}

#hbox {
    -fx-background-color: #1DB954; /* Spotify green */
    -fx-padding: 10;
}

#nameArtist, #followers {
    -fx-text-fill: #a9a9a9;
    -fx-font-size: 16px;
}

#listMusic {
    -fx-background-color: #363636; /* Dark background */
    -fx-background-radius: 10;
    -fx-border-color: #1DB954;
    -fx-border-radius: 10;
}

#subscribe {
    -fx-background-color: Black;
    -fx-border-width: 3;
    -fx-border-color: pink;
    -fx-border-radius: 10;
    -fx-background-radius: 12;
    -fx-text-fill: WHITE;
}

#subscribe:hover {
    -fx-background-color: #0c5326; /* Lighter green on hover */
}

.list-view > .content {
    -fx-background-color: #1f1f1f; /* Dark background */
}

.list-view {
    -fx-background-color: #363636; /* Dark background */
    -fx-control-inner-background: #363636; /* Dark background */
}